/* ============================================================================= 
=================================== Noto sans Font ============================  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ============================================================================== 
=================================== The Jamsil Font =============================  */
@font-face {
    font-family: "theJamsil100";
    font-weight: 100;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Thin.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Thin.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Thin.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Thin.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Thin.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "theJamsil300";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Light.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Light.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Light.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Light.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Light.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "theJamsil400";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Regular.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Regular.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Regular.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "theJamsil500";
    font-weight: 500;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Medium.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Medium.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Medium.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Medium.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Medium.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "theJamsil700";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-Bold.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "theJamsil800";
    font-weight: 800;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-ExtraBold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-ExtraBold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-ExtraBold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-ExtraBold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/theJamsil/theJamsil-ExtraBold.ttf") format("truetype");
    font-display: swap;
} 